* {
  box-sizing: border-box; }

body {
  font-family: "Times New Roman";
  -webkit-font-smoothing: antialiased; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Times New Roman";
  font-weight: 400; }

.cf:before, .cf:after {
  content: "";
  display: table; }

.cf:after {
  clear: both; }

.wrapper {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto; }
  .wrapper a {
    text-decoration: none; }

.banner {
  padding: 5em 0; }
  .banner .logo {
    float: left; }
  .banner h1 {
    color: #464646;
    text-align: right;
    font-size: 5em;
    display: inline;
    float: right;
    margin: 0; }

.logo {
  background: #d228d2;
  border-radius: 100%;
  width: 75px;
  height: 75px;
  line-height: 75px;
  text-align: center;
  color: #ffffff;
  font-size: 1.1em;
  font-family: "Bauhaus 93"; }

.row {
  width: 100%;
  margin-bottom: 2em; }
  .row:before, .row:after {
    content: "";
    display: table; }
  .row:after {
    clear: both; }

.work {
  background: #464646;
  padding: 5em 0; }
  .work .card {
    background: #ffffff;
    border-radius: .35em;
    height: 450px;
    display: table;
    background-repeat: no-repeat; }
  .work .card_full {
    width: 100%; }
  .work .card_half {
    width: 48.5%;
    float: left; }
  .work .left {
    margin-right: 1.5%; }
  .work .right {
    margin-left: 1.5%; }
  .work .tall {
    height: 700px; }
  .work .card_1 {
    background-image: url("../images/sjz.jpg");
    background-size: 80%;
    background-position: 280px 20px; }
  .work .card_2 {
    background-image: url("../images/JP.jpg");
    background-size: 100%;
    background-position: -70px 100px; }
  .work .card_3 {
    background-image: url("../images/wp.jpg");
    background-size: 210%;
    background-position: -280px 320px; }
  .work .card_inner {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    padding: 1.5em 12%;
    color: #ffffff; }
    .work .card_inner p {
      color: #ffffff;
      font-size: 1em;
      text-transform: uppercase;
      font-weight: 700; }
      .work .card_inner p:hover {
        color: #d228d2; }
    .work .card_inner h2 {
      color: #ffffff;
      font-size: 3em;
      margin: 0; }
      .work .card_inner h2:hover {
        color: #d228d2; }
  .work .pink, .work .green, .work .purple, .work .blue {
    border-radius: .35em; }
  .work .pink {
    background: rgba(228, 104, 228, 0.8); }
  .work .green {
    background: rgba(134, 253, 151, 0.8); }
  .work .purple {
    background: rgba(136, 110, 184, 0.8); }

footer {
  padding: 3em 0; }
  footer .logo {
    float: left;
    margin: 0; }
  footer ul {
    list-style: none;
    margin: 0;
    padding-top: 1em; }
    footer ul li {
      display: inline;
      float: left;
      margin-left: 24em; }
      footer ul li .title {
        text-transform: uppercase;
        font-weight: 700;
        font-size: .75em;
        display: block;
        padding-bottom: .5em; }
      footer ul li .links {
        font-size: 1.75em; }
      footer ul li .title {
        color: #464646; }
      footer ul li a {
        color: #464646;
        text-decoration: none; }
        footer ul li a:hover {
          color: #d228d2; }
